.tutorial-page {

    .toolbar-background {
      background: #fff;
      border-color: transparent;
    }
  
    ion-slides {
      height: 100%;
    }
  
    .slide-title {
      margin-top: 2.8rem;
    }
  
    .slide-image {
      max-height: 50%;
      max-width: 60%;
      margin: 18px 0;
    }
  
    /* slide title */
    h2 {
      font-family: "Poppings", sans;
      font-weight: 200;  /* extra-light */
    }
  
    b {
      font-weight: 500;
    }
  
    p {
      font-family: "Poppings", sans;
      font-weight: 200;  /* extra-light */
      padding: 0 40px;
      line-height: 1.5;
      /*font-size: 14px;*/
      /*color: #60646B;*/
  
      b {
        color: #000000;
      }
    }
  
  }
  