<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>dev-tools</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerDirection="forward" routerLink="/data-viewer">
      <ion-icon name="glasses" slot="start"></ion-icon>
      <ion-label>Data Viewer</ion-label>
    </ion-item>
    <ion-item routerDirection="forward" routerLink="/log-viewer">
      <ion-icon name="hammer" slot="start"></ion-icon>
      <ion-label>Log Viewer</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
