<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page17">
  <img [src]=img_url style="display:block;width:400;height:400;margin-left:auto;margin-right:auto;" />
  <form [formGroup]="profileForm" id="profile-form3">
    <button id="profile-button11" ion-button color="light" block (click)="updatePicture()">
      Change Profile Picture
    </button>
    <div formGroupName="user">
    <ion-list id="profile-list15">
      <ion-item id="profile-input1">
        <ion-label>
          First Name
        </ion-label>
        <ion-input type="text" formControlName="first_name" value={{first_name}}></ion-input>
      </ion-item>
      <ion-item id="profile-input-last-name">
        <ion-label>
          Last Name
        </ion-label>
        <ion-input type="text" formControlName="last_name" value={{last_name}} ></ion-input>
      </ion-item>
      <ion-item id="profile-input2">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" formControlName="email" value={{email}}></ion-input>
      </ion-item>
    </ion-list>
    </div>
    <ion-item id="profile-input4">
      <ion-label>
        Birthday
      </ion-label>
      <ion-datetime formControlName="birthday" display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" [pickerOptions]="customOptions"></ion-datetime>
    </ion-item>
    <ion-list>
    <ion-item id="profile-input5">
      <ion-label> Gender </ion-label>
      <ion-select formControlName="gender">
        <ion-option value="">Prefer not to show</ion-option>
        <ion-option *ngFor="let g of genderSpec" [value]="g.value">{{g.display_name}}</ion-option>
      </ion-select>
    </ion-item>
    </ion-list>
    <ion-list>
    <ion-item id="profile-input6">
      <ion-label> Nationality </ion-label>
      <ion-select formControlName="nationality">
        <ion-option value="">Prefer not to show</ion-option>
        <ion-option *ngFor="let n of nationalitySpec" [value]="n.value">{{n.display_name}}</ion-option>
      </ion-select>
    </ion-item>
    </ion-list>
    <ion-item id="profile-input7">
      <ion-label>
        City
      </ion-label>
      <ion-input type="text" formControlName="city" value={{city}} ></ion-input>
    </ion-item>
    <button id="profile-button12" ion-button color="light" block (click)="updateProfile()">
      Update
    </button>
  </form>
    <button id="profile-button13" on-click="goToTabController()" ion-button color="light" block>
      Back To Main Page
    </button>
</ion-content>
