<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pedometer Visualization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="page9" class="ion-padding">
  <img src="assets/img/ped/20190224.png"
    style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <ion-button id="pedometerVisualization-button3" color="light" expand="block">
    Back To Pedometer Data List
  </ion-button>
</ion-content>