<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="page8" class="ion-padding">
  <ion-list id="accountSetting-list13">
    <ion-item id="accountSetting-list-item94">
      <ion-avatar slot="start">
        <img />
      </ion-avatar>
      <h2>
        Name
      </h2>
    </ion-item>
  </ion-list>
  <ion-list id="accountSetting-list14">
    <ion-item id="accountSetting-list-item98">
      Email address
    </ion-item>
    <ion-item id="accountSetting-list-item99">
      Gender
    </ion-item>
    <ion-item id="accountSetting-list-item108">
      Birthday
    </ion-item>
    <ion-item id="accountSetting-list-item110">
      Nationality
    </ion-item>
  </ion-list>
  <ion-button id="accountSetting-button9" color="dark" expand="block">
    Change password
  </ion-button>
</ion-content>