<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="person"></ion-icon>
      <ion-label [textContent]="text.home"></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="control-center">
      <ion-icon name="wifi"></ion-icon>
      <ion-label [textContent]="text.record"></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="journal">
      <ion-icon name="stats"></ion-icon>
      <ion-label [textContent]="text.journal"></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon name="pulse"></ion-icon>
      <ion-label [textContent]="text.feed"></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>