<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="false" slot="end">
      <ion-button>
        <ion-icon name="browsers" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [textContent]="text.header"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="page21" class="ion-padding">
  <ion-item class="coming-soon">
    <ion-label [textContent]="text.msg"></ion-label>
    
  </ion-item>
  <img src="assets/img/working_on_circle.png">
</ion-content>