<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Work In Progress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="page15" class="ion-padding">
  <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="working-in-progress-img">
    <img src="assets/img/working_on_circle.png"
      style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <ion-button id="profile-button13" routerDirection="back" routerLink="/tabs" color="light" expand="block">
    Back To Main Page
  </ion-button>
</ion-content>