<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="solid">
        <ion-icon name="analytics" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Steps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="page14" class="ion-padding">
  <div id="barChart"></div>
  <ion-button id="steps-button19" (click)="goToSharePopUp()" color="light" expand="block">
    Share with friends
    <ion-icon name="share" slot="end"></ion-icon>
  </ion-button>
</ion-content>