page-journal-barchart {
    body {
      font-family: 'Open Sans', sans-serif;
    }

    div#layout {
      text-align: center;
    }

    div#container {
      width: 900px;
      height: 500px;
      margin: auto;
      background-color: #ffffff;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    .bar {
      fill: #2A707A;
    }

    text {
      font-size: 18px;
      fill: #D5B551;
    }

    path {
      stroke: gray;
    }

    line {
      stroke: gray;
    }

    line#limit {
      stroke: #FED966;
      stroke-width: 3;
      stroke-dasharray: 3 6;
    }

    .grid path {
      stroke-width: 0;
    }

    .grid .tick line {
      stroke: #9FAAAE;
      stroke-opacity: 0.3;
    }

    text.divergence {
      font-size: 14px;
      fill: #2F4A6D;
    }

    text.value {
      font-size: 24px;
    }

    text.title {
      font-size: 32px;
      font-weight: 600;
      fill: #D5B551;
    }

    text.label {
      font-size: 18px;
      font-weight: 400;
    }

    text.source {
      font-size: 10px;
    }
}
